@font-face {
    font-family: 'Roboto';
    src: url("../Roboto/Roboto-Thin.ttf");
}

body{
    font-size: 1em;
    margin: 0!important;
}

h1{
    font-family: 'Roboto';
    /* text-align: left; */
}

div{
    display: block;
}

p {
    margin-top: 0;
}

.box{
    border: 2px solid red;
    height: 929px;
    width: auto;
}

.bg-color-size{
    padding: 0!important;
    height: 929px;
}

.first-color{
    background-color: rgb(59, 61, 61);
}

.second-color{
    background-color:rgb(245, 245, 245);
    /* border: black solid 2px; */
}

#test{
    border: 2px solid red;
    height: 500px;
    width: 400px;
    margin: 100px auto;
}