@font-face {
    font-family: 'Roboto';
    src: url("../Roboto/Roboto-Thin.ttf");
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-size: 1em;
    margin: 0!important;
}

.icon{
    width: 40px;
    height: 40px;
}

#menu-box{
    /* border: #333 solid 2px; */
    float: right;
    position: sticky;
    width: 100px;
    height: 100px;
    top: 50px;
    margin: 70px 70px;
    z-index: 9;
}

#button-menu{
    /* border: 1px #333 solid; */
    border-radius: 50%;
    background: #F1F1F1;
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: 50%; */
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.line{
    width: 25px;
    height: 2.5px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.5px;
    transition: all .1s ease-in-out;
}

.line::before{
    content: '';
    width: 25px;
    height: 2.5px;
    background-color: #333;
    bottom: 7px;
    position: absolute;
    border-radius: 2.5px;
    transition: all .2s .1s ease-in-out;
}

.line::after{
    content: '';
    width: 25px;
    height: 2.5px;
    background-color: #333;
    top: 7px;
    position: absolute;
    border-radius: 2.5px;
    transition: all .2s .1s ease-in-out;
}

#menu-box.buttonTriggered .line{
    background-color: transparent;
}

#menu-box.buttonTriggered .line::before{
    transform: translateY(7px) rotate(-45deg);
}

#menu-box.buttonTriggered .line::after{
    transform: translateY(-7px) rotate(45deg);
}

.blob{
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: auto; */
}

#blob-1{
    transition: all .2s .1s ease-in-out;
}

#blob-2{
    transition: all .2s .2s ease-in-out;
}

#blob-3{
    transition: all .2s .3s ease-in-out;
}

#blob-4{
    transition: all .2s .4s ease-in-out;
}

#menu-box.buttonTriggered #blob-1{
    top: 0%;
    left: 0%;
}
#menu-box.buttonTriggered #blob-2{
    top: 50%;
    left: 15%;
}
#menu-box.buttonTriggered #blob-3{
    top: 85%;
    left: 50%;
}
#menu-box.buttonTriggered #blob-4{
    left: 100%;
    top: 100%;
}

.content-box{
    /* border: rebeccapurple solid 2px; */
    width: 75%;
    padding: 0 20px;
    height: 400px;
    /* margin: 225px auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    /* border: 2px green solid; */
    height: 100px;
    text-align: center;
    top: 100px;
}

h1, h2, h3, p{
    font-family: 'Roboto';
    color: #333;
}

h1{
    font-size: 3em;
    line-height: 100%;
    font-weight: 1;
}

h2{
    font-size: 2em;
    font-weight: 80;
}

h3{
    font-size: 1em;
    font-weight: 80;
}

p{
    font-size: 1em;
    line-height: 100%;
    font-weight: 100;
}

div{
    display: block;
}

.box{
    /* border: 2px solid red; */
    height: 929px;
    width: auto;
    position: relative;
}

.bg-color-size{
    padding: 0!important;
    height: 931px;
    width: auto;
}

.first-color{
    background-color:rgb(197, 222, 255);
    /* border: black solid 2px; */
}
.second-color{
    background-color: #ffffff;
}