@font-face {
    font-family: 'Roboto';
    src: url("../Roboto/Roboto-Thin.ttf");
}

body{
    font-size: 1em;
    margin: 0!important;
}

#top-r-menu{
    float: right;
    position: sticky;
    top: 30px;
    /* border: 2px black solid; */
    margin: 50px 50px;
}

#nav-menu{
    height: 20px;
    width: auto;
}

h1, p{
    font-family: 'Roboto';
}

h1{
    font-size: 3em;
    line-height: 100%;
    font-weight: 80;
}

p{
    font-size: 1em;
    line-height: 100%;
    font-weight: 100;
}

div{
    display: block;
}

/* p {
    margin-top: 0;
} */

.box{
    border: 2px solid red;
    height: 929px;
    width: auto;
}

.bg-color-size{
    padding: 0!important;
    height: 929px;
}

.first-color{
    background-color: rgb(122, 122, 122);
}

.second-color{
    background-color:rgb(238, 238, 238);
    /* border: black solid 2px; */
}

#test{
    border: 2px solid red;
    height: 500px;
    width: 400px;
    margin: 100px auto;
}