#presentation-box{
    border: rebeccapurple solid 2px;
    width: 80%;
    padding: 0 20px;
    margin: 189.5px auto;
    display: flex;
    flex-wrap: wrap;
}

#div-self-img{
    /* background-image: url("../img/dog.png"); */
    width: 300px;
    height: 400px;
    border-radius: 15px 50px 30px;
    margin: 10px 0 0 50px;
    position: absolute;
    transform: rotate(15deg);
    z-index: 1;
    border: 2px solid black;
    overflow: hidden;
}

#self-img{
    background-image: url("../img/dog.png");
    transform: rotate(-15deg);
    border-radius: 15px 50px 30px;
    width: 300px;
    height: 400px;
    
}

#colored-box{
    width: 300px;
    height: 400px;
    border-radius: 15px 50px 30px;
    background-color: aquamarine;
    transform: rotate(6deg);
    z-index: 0;
}

#welcome-text-box{
    display: block;
    border: pink solid 2px;
    width: 60%;
    margin: auto;
}

#self-img-box{
    width: 325px;
    height: 425px;
    border: 2px aliceblue solid;
    margin: 0 100px 0 0;
}

/* #welcome-text-box, #self-image{
    display: inline-block;
} */

#contact{
    width: 500px;
    height: 50px;
    border: 2px solid black;
    margin: 330px 0 0 87px;
    /* margin: auto; */
    position: absolute;
}

.contact-img-size{
    width: 50px;
    height: 50px;
    /* border: yellow 2px solid; */
    /* border-radius: 50%; */
}
